@charset "utf-8";

body {
  padding-top: 40px;
  font-weight: 'Courier New', 'monspace';
  text-align: center;
}

#target {
  font-size: 48px;
}

#result {
  font-size: 90px;
  font-weight: bold;
  color: gold;
}